<dialog id="addModal">
  <form id="addForm">
    <div>
      <label for="title"> Title </label>
      <input type="text" name="title" id="title" required />
    </div>
    <div>
      <label for="message"> Message </label>
      <textarea name="message" id="message" required></textarea>
    </div>
    <div>
      <button id="cancelBtn">Cancel</button>
      <button type="submit">Add Message</button>
    </div>
  </form>
</dialog>
