<dialog id="addModal">
  <form id="addForm">
    <fieldset>
      <legend>Add New Message</legend>
      <div class="inputDiv">
        <label for="title"> Title </label>
        <input type="text" name="title" id="title" />
        <p id="titleError" class="errorMsg"></p>
      </div>
      <div class="inputDiv">
        <label for="message"> Message </label>
        <textarea name="message" id="message"></textarea>
        <p id="messageError" class="errorMsg"></p>
      </div>
    </fieldset>
    <div class="btnDiv">
      <button id="cancelBtn">Cancel</button>
      <button type="submit" id="addMessageBtn">Add Message</button>
    </div>
  </form>
</dialog>
