<footer class="footer">
  <p class="footerItem">
    Built by
    <a
      href="https://github.com/yaoming16"
      target="_blank"
      rel="noopener noreferrer"
    >
      Pablo Perez
    </a>
  </p>

  <span class="footerSep" aria-hidden="true">•</span>

  <p class="footerItem">
    <a
      href="https://yaoming16.github.io/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Portfolio
    </a>
  </p>

  <span class="footerSep" aria-hidden="true">•</span>

  <p class="footerItem">
    <a
      href="https://github.com/yaoming16/TOP-Members-Only"
      target="_blank"
      rel="noopener noreferrer"
    >
      View source
    </a>
  </p>
</footer>