<% 
const user = locals.currentUser;
const loginHref = !user? "/login" : "/status";
const loginHrefText = !user? "Log in" : "Status";

const signupHref = !user? "/signup" : "/logout";
const signupHrefText = !user? "Sign Up" : "Log Out";
%>

<nav>
  <ul>
    <li>
      <a href="/">Homepage</a>
    </li>
    <li>
      <a href="/messages">Messages</a>
    </li>
    <li>
      <a href="<%= loginHref %>"><%= loginHrefText %></a>
    </li>
    <li>
      <a href="/logout" id="logoutBtn">Log out</a>
    </li>
  </ul>
</nav>
