<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only - Status</title>
</head>
<body>
  <main>
    <h1>Join the Club</h1>
    <form>
      <div>
        <label for="passcode">Passcode</label>
        <input type="text" name="passcode" id="passcode">
        <button type="submit">Submit</button>
      </div>
    </form>
  </main>
</body>
</html>