:root {
  --background: #f0f7fa;
  --surface: #cce3de;
  --surfaceAlt: #a2d2ff;

  --textPrimary: #2b3a4a;
  --textMuted: #5c6b73;
  --heading: #023e8a;

  --navBg: #62a8cf;
  --navText: #ffffff;

  --mainBtn: #ffd166;
  --mainBtnHover: #ffb703;
  --mainBtnText: #023047;

  --secondaryBtn: #95d5b2;
  --secondaryBtnHover: #74c69d;
  --secondaryBtnText: #023047;

  --cardBg: #ffffff;
  --cardBorder: #bde0fe;
  --accent: #ef476f;
  --accentSoft: #ffc2d1;
  --highlight: #fdfcdc;
  --warning: #e07a5f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--textPrimary);
}

/* nav bar */

nav {
  background-color: var(--navBg);
  color: var(--navText);
  padding: 0.5rem 0.7rem;
}

.navContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

nav ul li {
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav ul li:hover {
  border-radius: 5px;
  background-color: var(--navText);
  color: var(--navBg);
}
